body
{
    text-align: center;
    background-color: rgb(234, 190, 63);
}
.img
{
    width: 400px;
    height:250px;
}
#menu
{
    position: fixed;
    list-style: none;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.menu
{
    float: right;
    padding-left: 25px;
    font-size: 20px;
    padding-right: 25px;
    display:inline;
    font-size: 20px;
}
.menu :hover
{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#principal
{
    margin-top: 35px;
}
a
{
    color: white;
    text-decoration: none;
}
h1
{
    color: rgb(0, 0, 0);
    font-family: 'Concert One', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Yantramanav', sans-serif;
}
p
{
    color: white;
    font-family: 'Concert One', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Titan One', cursive;
font-family: 'Yantramanav', sans-serif;
font-size: 20px;
}