body
{
    text-align: center;
}

#App
{
    background-color: honeydew;
}
#myCarousel
{
    background-color: rgb(227, 73, 73);
}
.carousel-inner
{
    margin-top:15px;
    color: white;
    font-size: 30px;
}
#myCarousel img
{
    height:300px;
    margin-top: 35px;
}
